.intro {
  text-align: center;
  color: rgb(12, 233, 12);
  background-color: blueviolet;
}

.table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border:"1";
  width: 100%;
  background-color: red;
}

.borders {
  border: 3px solid black;
}

