.intro {
  text-align: center;
  color: rgb(12, 233, 12);
  background-color: blueviolet;
}

.table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  background-color: red;
}

.borders {
  border: 3px solid black;
}

.img {
  border-radius: 8px;
  height: auto;
  width: 70px;
}

.th {
  background-color: #4CAF50;
  color: white;
  text-align: center;
}


