<html>
    <head>
        <title>Adelaide Page</title>
    </head>
<body background="../Images/adelaide-bg.jfif">
   <div>
        <p class="p">There are the links wich redirects you to the social pages of Adelaide.</p>
        <img class="img" src="../Images/instagram.png">
        <a href="https://www.instagram.com/adelaidekane/?hl=ro">Instagram</a>
        <br/>
        <img class="img" src="../Images/facebook.png">
        <a href="https://www.facebook.com/TheRealAdelaideKane/">Facebook</a>
        <br/>
        <img class="img" src="../Images/youtube.png">
        <a href="https://www.youtube.com/channel/UC4ltBcyp1zU-oSdSx-H0i0g">YouTube</a>
   </div>
    
</body>
</html>
